<ion-view title="Bearnose" hide-back-button="true" hide-nav-bar="true">
    <ion-content has-header="true" padding="true">

        <md-content class="md-padding">
            <form name="fromLogin">
                <md-input-container>
                    <label>Email</label>
                    <input required name="email" ng-model="form.email">
                    <div ng-messages="fromLogin.email.$touched && fromLogin.email.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input required name="password" ng-model="form.password">
                    <div ng-messages="fromLogin.password.$touched && fromLogin.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-button class="md-raised md-primary button-block icon ion-log-in" type="submit" ng-click="events.login('local')"> Log in</md-button>

            </form>

            <br/>

            <section layout="row" layout-align="center">
                <md-button ng-href="/#/signup">Forgot your password?</md-button>
            </section>

            <section layout="row" layout-align="center">
                <small>Don't have an account yet?  <md-button ng-href="/#/signup">Sign up</md-button></small>
            </section>

            <div class="signup-or-separator">
                <h6 class="text">or</h6>
                <hr/>
            </div>

            <section layout="column" layout-align="center">

                <md-button class="md-raised md-primary button-block icon ion-social-facebook" ng-click="events.authenticate('facebook')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-google" ng-click="events.authenticate('google')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-linkedin" ng-click="events.authenticate('linkedin')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-twitter" ng-click="events.authenticate('twitter')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-foursquare" ng-click="events.authenticate('foursquare')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-github" ng-click="events.authenticate('github')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-yahoo" ng-click="events.authenticate('yahoo')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-windows" ng-click="events.authenticate('live')"></md-button>
                <md-button class="md-raised md-primary button-block icon ion-social-instagram" ng-click="events.authenticate('instagram')"></md-button>
                
            </section>
        </md-content>

    </ion-content>
</ion-view>